<div class="flex justify-content-center">
    <div class="m-auto">
        <h1>Login Here</h1>
        <form class="flex flex-col">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input type="email" required matInput placeholder="Enter Your Email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" required matInput placeholder="Enter Your Password">
              </mat-form-field>
              <button type="submit" mat-raised-button>Login</button>
          </form>
    </div>
</div>